<% title "Articles" %>

<%= form_tag search_results_articles_path, :method => :post do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
    <div><%= link_to "Create New Article",new_article_path %></div>
<% end %>
<div id="articles">
<% @articles.each do |article| %>
  <h2>
    <%= link_to (article.name), article %>
    <span class="comments">(<%= pluralize(article.comments.size, 'comment') %>)</span>
  </h2>
  <div class="author">from <%= article.author.first_name %> <%= article.author.last_name %> on <%= article.created_at.strftime('%b %d, %Y') %></div>
  <div class="content"><%= simple_format(article.content) %></div>
<% end %>
</div>
